- if job 
  .job_control
    = workflow_partial('job_result/job_control', workflow, task, locals)

- o = job.step(:observed_synergies).load
- np = job.step(:normalized_predictions).load

- np.add_field "Observed" do |c,v|
  - c = c.gsub('[','')
  - c = c.gsub(']','')
  - c = c.gsub('-','~')
  - o.include?(c) ? 1 : 0


- np = np.reorder :key, ["Observed"] +  (np.fields - ["Observed"])

- svg_files = {}
- job.step(:bliss).dependencies.each do |rb_dep|
  - name = rb_dep.name
  - next if rb_dep.info[:jobs].nil?
  - files = rb_dep.info[:jobs].each do |f|
    - cmb = File.basename(f).split("_").first
    - cmb.sub!("-",'~')
    - svg_files[cmb] ||= {}
    - svg_files[cmb][name] ||= []
    - svg_files[cmb][name] << File.basename(f)

- require 'rbbt/rest/common/tabs'

- if job.rec_dependencies.select{|d| d.task_name == :steady_states_paradigm}.any?
  %a.ui.button(href='/CLSS/steady_states_paradigm/#{job.step(:steady_states_paradigm).name}') Steady states
%a.ui.button(href='/DrugLogics/gitsbe/#{job.step(:gitsbe).name}') Gitsbe
%a.ui.button(href='/DrugLogics/drabme/#{job.step(:drabme).name}') Drabme

- log :tabs 
= tabs do |t|
  - t.active "ROC"
  - t.add "ROC" do
    .ui.grid
      .ui.column.ten.wide
        %img(src="/SINTEF/ROC/#{job.name}/file/ROC.png")
        %h1 AUC
        %p= "%.3f" % job.info[:AUC]
      .ui.column.six.wide

        - rec_inputs = job.recursive_inputs
        %dl
          %dt Cell line
          %dd= rec_inputs[:cell_line]

          %dt obs method
          %dd= rec_inputs[:obs_method]

          - if rec_inputs.include? :tf_inference_method
            %dt tf_inference_method
            %dd= rec_inputs[:tf_inference_method]

            -#%dt steady_state_type
            -#%dd= rec_inputs[:steady_state_type]

  
          - if rec_inputs.include? :ceres_threshold
            %dt ceres_threshold
            %dd= rec_inputs[:ceres_threshold]

          %dt use_steady_state
          %dd= rec_inputs[:use_steady_state]
          %dt use_achilles
          %dd= rec_inputs[:use_achilles]

          %dt use_observed_synergies
          %dd= rec_inputs[:use_observed_synergies]

          %dt use_hand_rules
          %dd= rec_inputs[:use_hand_rules]

          %dt training_data
          - training_data = job.step(:gitsbe).inputs[:training_data]
          %dd= Misc.digest(training_data)

    = table do 
      - result
  - t.add "Predictions" do

    = table :class => "predictions" do
      - np


    :deferjs
      var svg_files = #{svg_files.to_json}

      register_dom_update('table.predictions tbody td:nth-child(1)', function(td){
        td.click(function(e,t){
          var name = this.innerHTML
          var cannonical = name.replace(/[\[\]]/g,'').replace('-','~')
          var url_template = '../../CombinationIndex/bliss/JOB?_format=raw'

          
          var urls = []
          forHash(svg_files[cannonical], function(name, files){
            var file = files[0] 
            var url = url_template.replace('NAME', name).replace("JOB", file)
            urls.push(url)
          })
          
          var promises = []
          forArray(urls,function(url){
            promises.push(rbbt.get(url, {deserialize:function(e){ return e}}))
          })

          m.sync(promises).then(function(svgs){
            var content = ""
            forArray(svgs, function(svg){ content = content + svg})
            rbbt.modal.controller.show(content , name)
          })
        })
      })

  - t.add "Correlation" do
    - bliss = job.step(:bliss).load
    - normalized = job.step(:normalized_predictions).load
    - field = job.inputs[:score_field]

    - norm_values = normalized.column(field)

    - excess_columns = bliss.fields.select{|f| f =~ /excess/i }
    
    - bliss_values = TSV.setup({}, :key_field => norm_values.key_field, :fields => ["Average Bliss Excess"], :type => :single, :cast => :to_f)
    - bliss.add_field "Average" do |k,values|
      - key = "[" << k.sub('-',']-[') << "]"
      - bliss_values[key] = Misc.mean(values.values_at(*excess_columns).flatten.collect{|v| v.to_f})

    - tsv = norm_values.attach(bliss_values)
    = table do
      - tsv

    .figure
      = tool :Rpng, :data => tsv, :plot => "plot(data[,1], data[,2], xlab=\"#{tsv.fields.first}\", ylab=\"#{tsv.fields.last}\")"

  - t.add "Config" do
    - begin
      %pre= job.step(:gitsbe).file('inputs').config.read
    - rescue
      .ui.error.message=$!.message

  - t.add "Training data" do
    - begin
      %pre= job.step(:gitsbe).file('inputs').training_data.read
    - rescue
      .ui.error.message=$!.message
